
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Informations";
     Layout = "~/Views/Shared/_Layout.cshtml";
}
@model RestApi.Models.Doctor

<form class="form" asp-action="Update" style="margin:60px">
    <div class="form-group">
        <label for="Nom" asp-for="LastName">Nom</label>
        <input type="text" asp-for="LastName" id="Nom" class="form-control" placeholder="Nom"/>
         <span asp-validation-for="LastName" class="text-danger" ></span>
    </div><br />
      <div class="form-group">
        <label for="Prénom" asp-for="FirstName">Prénom</label>
        <input type="text" asp-for="FirstName" id="Prénom" class="form-control" placeholder="Prénom"/>
          <span asp-validation-for="FirstName" class="text-danger"> </span>
    </div><br />
      <div class="form-group">

        <label for="DateNaissance" asp-for="Birthdate">Date Naissance</label>
        <input type="text" asp-for="Birthdate" id="DateNaissance" class="form-control" placeholder="Date"/>
         <span asp-validation-for="Birthdate" class="text-danger" ></span>
    </div><br />
    <div>

        <label for="genre" asp-for="Gender">Je suis</label>
        <input type="radio" asp-for="Gender" name="genre" value="Homme"> Homme
        <input type="radio" asp-for="Gender" name="genre" value="femme"> femme
        <span asp-validation-for="Gender" class="text-danger" ></span>
    </div><br />
    <div>
        
             <label for="Ville" asp-for="City">Ville</label>
         <select>
            <option value="Rimouski" asp-for="City">Rimouski</option>
             <option value="Montreal" asp-for="City">Montreal</option>
              <span asp-validation-for="City" class="text-danger" ></span>
         
         </select>
    </div><br/>
    <div class="form-group">

        <label for="DateDebut" asp-for="DateEntryOffice">Date début carière</label>
        <input type="text" asp-for="DateEntryOffice" id="DateDebut" class="form-control" placeholder="Date"/>
        <span asp-validation-for="DateEntryOffice" class="text-danger"></span>
    </div><br />
    
        <div>

        <label for="Email" asp-for="Email" >Adresse email</label>
        <input type="text" asp-for="Email" id="Email" class="form-control" placeholder="Email"/>
        <span asp-validation-for="Email" class="text-danger" ></span>
    </div><br />
    
        <div>
            <button type="submit" value="Modifier" class="btn btn-secondary" style="background-color :green">Modifier</button>
        
            <button type="submit" value="Annuler"class="btn btn-secondary" style="background-color :green" >Annuler</button>
        </div>
</form>

