@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Connexion";
}
@model RestApi.Models.Doctor

<form asp-controller="Account" class="col-md-5">
	<partial name="Shared/_login" model="Model" />
	<br />
	<div class="form-check mt-3 p-0">
		<button asp-action="NewAccount" formmethod="get" class="btn btn-info mx-1">Créer Compte</button>
		<button asp-action="Login" formmethod="post" class="btn btn-primary mx-1">Connexion</button>
	</div>
	@if (ViewBag.Error != null)
	{
		<span class="text-danger">@ViewBag.Error</span>
	}
</form>