@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   // @ViewBag.Title="Ajouter un patient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form style="margin : 60px" class="form">
    <div class="form-group">
        <label for="Nom">Nom</label>
        <input type="text" id="Nom" class="form-control" placeholder="Nom"/>
    </div><br />
      <div class="form-group">

        <label for="Prénom">Prénom</label>
        <input type="text" id="Prénom" class="form-control" placeholder="Prénom"/>
    </div><br />
    <div class="form-group" >

        <label for="DateNaissance">Date Naissance</label>
        <input type="text" id="DateNaissance" class="form-control"  placeholder="Date"/>
    </div><br />
    <div>

        <label for="genre">Je suis</label>
        <input type="radio" name="genre" id="Homme"> Homme
        <input type="radio" name="genre" id="femme"> femme
    </div><br />
     <div>
        
             <label for="Ville">Ville</label>
         <select>
            <option value="Rimouski">Rimouski</option>
             <option value="Montreal">Montreal</option>
         
         </select>
    </div>
    <div>
        <label for="Dernier_Diagnostique">Dernier diagnostique</label>
        <input type="text" value="Dernier_Diagnostique" placeholder="Présence/abscence de maladie"/>
    </div><br />
        <div class="mb-3">
            <button type="submit" value="Ajouter" class="btn btn-secondary" style="background-color :green">Ajouter</button>
                 
            <button type="submit" value="Quitter" class="btn btn-secondary" style="background-color :green" >Quitter</button>
        </div>
</form>
