@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE HTML>
<HTML>
 <HEAD>
     <meta charset="utf-8" />
     <title>

     </title>
 </HEAD>
 <BODY>Contenu de la page</BODY>
</HTML>
