@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //@ViewBag.Title = "Connexion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE HTML>
<HTML>
 <HEAD>
     <meta charset="utf-8" />
     <title>

     </title>
 </HEAD>
 <BODY>
     <form style="text-align :center">
         <div>
             <label for="Medecin">Medecin</label>
         <select>
            <option value="1">1</option>
             <option value="2">2</option>
         
         </select><br /><br />
        </div>

<button type="submit" class="btn btn-secondary" style="background-color :green"> Se connecter</button><br /><br />
<button class="btn btn-secondary" style="background-color :green" >
    <a href="~/Home/CreerCompte">Créer un compte</a>
</button>
     </form>
 </BODY>
</HTML>
