@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
   // @ViewBag.Title = "Créer un compte";
       
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model _8INF957_MS_TP2.Models.Doctor

<form style="margin: 60px" class="form" asp-action="Add">
    <div class="form-group">
        <label  for="Nom" asp-for="LastName">Nom</label>
        <input  type="text" asp-for="LastName" id="lastName"  placeholder="Nom" class = " form-control" />
        <span asp-validation-for="LastName" class="text-danger" ></span>
    </div><br />
      <div class="form-group">

        <label for="Prénom" asp-for="FirstName">Prénom</label>
        <input type="text" asp-for="FirstName" id="Prénom" class="form-control" placeholder="Prénom"/>
        <span asp-validation-for="FirstName" class="text-danger" ></span>
    </div><br />
      <div class="form-group">

        <label for="birthdate" asp-for="birthdate">Date Naissance</label>
        <input type="text" asp-for="birthdate" id="birthdate"  class = " form-control"  placeholder="Date"/>
        <span asp-validation-for="birthdate" class="text-danger" ></span>
    </div><br />
    <div class="form-group">

        <label for="gender" asp-for="GenderEnum">Je suis</label>
        <input type="radio" asp-for="GenderEnum" id="GenderEnum" value="Homme"> Homme
        <input type="radio" asp-for="GenderEnum" id="GenderEnum" value="femme"> femme
         <span asp-validation-for="GenderEnum"  ></span>
        
    </div><br />
    <div class="form-group">
        
             <label for="city" asp-for="city">Ville</label>
         <select>
            <option value="Rimouski" asp-for="city">Rimouski</option>
             <option value="Montreal"asp-for="city" >Montreal</option>
             <span asp-validation-for="city"  ></span>
         
         </select>
    </div><br />
    <div class= "form-group" >

        <label for="DateEntree" asp-for="DateEntryOffice" >Date d'entrée en fonction</label>
        <input type="text" asp-for="DateEntryOffice" id="DateEntryOffice" class = " form-control" placeholder="Date"/>
         <span asp-validation-for="DateEntryOffice"></span>
    </div><br />
    
        <div class="form-group">

        <label for="Email" asp-for="email" >Adresse email</label>
        <input type="text" asp-for="email" id="Email" placeholder="Email"  class = "form-control" />
        <span asp-validation-for="email"  ></span>
    </div><br />
    
        <div class="mb-3" >
            <a type="submit" value="Créer" class="btn btn-secondary" style="background-color :green" href="~/Home/Résultat">Créer</a>
        
            <button type="submit" value="Quitter" class="btn btn-secondary" style="background-color :green" >Quitter</button>
            
  

        </div>
        
</form>