@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   // @ViewBag.Title="Créer un compte";
       
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<!Doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta 
    </head>
</html>*@


<form style="margin: 60px" class="form">
    <div class="form-group">
        <label  for="Nom">Nom</label>
        <input  type="text" id="Nom"  placeholder="Nom" class = " form-control" />
    </div><br />
      <div class="form-group">

        <label for="Prénom">Prénom</label>
        <input type="text" id="Prénom" class="form-control" placeholder="Prénom"/>
    </div><br />
      <div class="form-group">

        <label for="DateNaissance">Date Naissance</label>
        <input type="text" id="DateNaissance"  class = " form-control"  placeholder="Date"/>
    </div><br />
    <div class="form-group">

        <label for="genre">Je suis</label>
        <input type="radio" id="genre" value="Homme"> Homme
        <input type="radio" id="genre" value="femme"> femme
    </div><br />
    <div class="form-group">
        
             <label for="Ville">Ville</label>
         <select>
            <option value="Rimouski">Rimouski</option>
             <option value="Montreal">Montreal</option>
         
         </select>
    </div><br />
    <div class= "form-group" >

        <label for="DateEntree">Date d'entrée en fonction</label>
        <input type="text" id="DateEntree" class = " form-control" placeholder="Date"/>
    </div><br />
    
        <div class="form-group">

        <label for="Email">Adresse email</label>
        <input type="text" id="Email" placeholder="Email"  class = "form-control" />
    </div><br />
    
        <div class="mb-3" >
            <button type="submit" value="Créer" class="btn btn-secondary" style="background-color :green" >Créer</button>
        
            <button type="submit" value="Quitter" class="btn btn-secondary" style="background-color :green" >Quitter</button>
            
  

        </div>
        
