
@{
    ViewData["Title"] = "Informations";
     Layout = "~/Views/Shared/_Formulaire.cshtml";
   // Layout = "_Formulaire";
}

<form>
    <div>
        <label for="Nom">Nom</label>
        <input type="text" value="Nom" placeholder="Nom"/>
    </div><br />
      <div>

        <label for="Prénom">Prénom</label>
        <input type="text" value="Prénom" placeholder="Prénom"/>
    </div><br />
      <div>

        <label for="DateNaissance">Date Naissance</label>
        <input type="text" value="DateNaissance" placeholder="Date"/>
    </div><br />
    <div>

        <label for="genre">Je suis</label>
        <input type="radio" name="genre" value="Homme"> Homme
        <input type="radio" name="genre" value="femme"> femme
    </div><br />
    <div>
        
             <label for="Ville">Ville</label>
         <select>
            <option value="Rimouski">Rimouski</option>
             <option value="Montreal">Montreal</option>
         
         </select>
    </div>
    <div>

        <label for="DateDebut">Date début carière</label>
        <input type="text" value="DateDebut" placeholder="Date"/>
    </div><br />
    
        <div>

        <label for="Email">Adresse email</label>
        <input type="text" value="Email" placeholder="Email"/>
    </div><br />
    
        <div>
            <button type="submit" value="Modifier">Modifier<</button>/>
        </div>

         <div>
            <button type="submit" value="Annuler" >Annuler</button>
        </div>
</form>

