
@{
    ViewData["Title"] = "Informations";
     Layout = "~/Views/Shared/_Layout.cshtml";
   // Layout = "_Formulaire";
}

<form class="form" style="margin:60px">
    <div class="form-group">
        <label for="Nom">Nom</label>
        <input type="text" id="Nom" class="form-control" placeholder="Nom"/>
    </div><br />
      <div class="form-group">

        <label for="Prénom">Prénom</label>
        <input type="text" id="Prénom" class="form-control" placeholder="Prénom"/>
    </div><br />
      <div class="form-group">

        <label for="DateNaissance">Date Naissance</label>
        <input type="text" id="DateNaissance" class="form-control" placeholder="Date"/>
    </div><br />
    <div>

        <label for="genre">Je suis</label>
        <input type="radio" name="genre" value="Homme"> Homme
        <input type="radio" name="genre" value="femme"> femme
    </div><br />
    <div>
        
             <label for="Ville">Ville</label>
         <select>
            <option value="Rimouski">Rimouski</option>
             <option value="Montreal">Montreal</option>
         
         </select>
    </div><br/>
    <div class="form-group">

        <label for="DateDebut">Date début carière</label>
        <input type="text" id="DateDebut" class="form-control" placeholder="Date"/>
    </div><br />
    
        <div>

        <label for="Email">Adresse email</label>
        <input type="text" id="Email" class="form-control" placeholder="Email"/>
    </div><br />
    
        <div>
            <button type="submit" value="Modifier" class="btn btn-secondary" style="background-color :green">Modifier</button>/>
        
            <button type="submit" value="Annuler"class="btn btn-secondary" style="background-color :green" >Annuler</button>
        </div>
</form>

