@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using static RestApi.Models.Person
@model RestApi.Models.Doctor

<div class="form-group">
	<label for="Nom">Nom</label>
	<input type="text" asp-for="LastName" id="Nom" class="form-control" placeholder="Nom" />
	<span asp-validation-for="LastName" class="text-danger"></span>
</div><br />
<div class="form-group">
	<label for="Prénom">Prénom</label>
	<input type="text" asp-for="FirstName" id="Prénom" class="form-control" placeholder="Prénom" />
	<span asp-validation-for="FirstName" class="text-danger"> </span>
</div><br />
<div class="form-group">
	<label for="DateNaissance">Date Naissance</label>
	<input type="text" asp-for="Birthdate" id="DateNaissance" class="form-control" placeholder="Date" />
	<span asp-validation-for="Birthdate" class="text-danger"></span>
</div><br />
<div>
	<label for="genre">Je suis</label>
	@Html.RadioButtonFor(d => d.Gender, GenderEnum.Man)
	@Html.Label("Homme")
	@Html.RadioButtonFor(d => d.Gender, GenderEnum.Woman)
	@Html.Label("Femme")
	<span asp-validation-for="Gender" class="text-danger"></span>
</div><br />
<div>
	<label for="Ville">Ville</label>
	<select asp-for="City">
		<option value="Rimouski" asp-for="City">Rimouski</option>
		<option value="Montreal" asp-for="City">Montréal</option>
		<option value="Quebec" asp-for="City">Québec</option>
		<option value="Levis" asp-for="City">Lévis</option>
		<option value="Riviere-du-Loup" asp-for="City">Rivière-du-Loup</option>
		<span asp-validation-for="City" class="text-danger"></span>
	</select>
</div><br />
<div class="form-group">
	<label for="DateDebut">Date début carière</label>
	<input type="text" asp-for="DateEntryOffice" id="DateDebut" class="form-control" placeholder="Date" />
	<span asp-validation-for="DateEntryOffice" class="text-danger"></span>
</div><br />
<div>
	<label for="Email">Adresse email</label>
	<input type="text" asp-for="Email" id="Email" class="form-control" placeholder="Email" />
	<span asp-validation-for="Email" class="text-danger"></span>
</div><br />