@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewData["Title"] = "Diagnostique";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<RestApi.Models.Patient>

<br />
<form asp-controller="Diagnostique">
	@Html.DropDownList("id", Model.Select(p => new SelectListItem(p.ToString(), p.Id.ToString())))
	<input class="btn btn-secondary" type="submit" value="Informations" asp-action="ViewPatient" />
	<input class="btn btn-secondary" type="submit" value="Ajouter un patient" asp-action="AddPatient" />
</form>
<br />

<form class="form-horizontal" asp-controller="Diagnostique" asp-action="Diagnose">
	<fieldset class="border p-2">
		<legend class="float-none w-auto">Paramètres</legend>
		<div class="form-group">
			<label for="cp">Type de douleur thoracique</label>
			<select id="cp">
				<option value="1">angine typique</option>
				<option value="2">angine atypique</option>
				<option value="3">douleur non angineuse</option>
				<option value="4"> asymptomatique</option>
			</select>
		</div>
		<br />
		<div class="form-group">
			<label for="thal">Thalassémie</label>
			<select id="thal">
				<option value="1">normale</option>
				<option value="2">défaut corrigé</option>
				<option value="3">défaut réversible</option>
			</select>
		</div>
		<br />
		<div class="form-group">
			<label for="oldpeak">Dépression ST induite par l'exercice par rapport au repos</label>
			<input id="oldpeak" type="number" min="0" max="6.2" step="0.1" />
		</div>
		<br />
		<div class="form-group">
			<label for="ca">Nombre de gros vaisseaux colorés par fluoroscopie</label>
			<input id="ca" type="number" min="0" max="3" step="1" />
		</div>
	</fieldset>
	<br />
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Diagnostiquer</button>
	</div>
</form>