@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using _8INF957_MS_TP2.Models
@{
	ViewData["Title"] = "Diagnostique";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<RestApi.Models.Patient>

<form asp-controller="Diagnostique">
	@Html.DropDownList("id", Model.Select(p => new SelectListItem(p.ToString(), p.Id.ToString())))
	<input class="btn btn-secondary" type="submit" value="Informations" asp-action="ViewPatient" />
	<input class="btn btn-secondary" type="submit" value="Ajouter un patient" asp-action="AddPatient" />
</form>
<form>
	<fieldset class="border p-2">
		<legend class="float-none w-auto">Paramètres</legend>
		<div class="mb-3">
			@*@Html.LabelFor(m => m.SelectedPatientId)*@
			@*@Html.DropDownListFor(m => m.SelectedPatientId, Model)*@
		</div>
		<div class="mb-3">
			@*@Html.LabelFor(m => m.SelectedPatientId)*@
			@*@Html.DropDownListFor(m => m.SelectedPatientId, Model)*@
		</div>
		<div class="mb-3">
			<label for="oldpeak">Dépression ST induite par l'exercice par rapport au repos</label>
			<input id="oldpeak" type="number" min="0" max="6.2" step="0.1" />
		</div>
		<div class="mb-3">
			<label for="ca">Nombre de gros vaisseaux colorés par fluoroscopie</label>
			<input id="ca" type="number" min="0" max="3" step="1" />
		</div>
	</fieldset>
</form>